<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @teacher.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @teacher.phone %>
</p>

<p><%#= image_tag @teacher.image_url %></p>

<p>
	<%= link_to "Request Tutoring" new_tutoring_path(teacher: @teacher) %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
